.label-text {
    color: white;
}

mat-label {
    font-size: large;
    color: white;
    margin-left: 10px;
}


.column {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

}

.label-detail{
    margin-left: 0px;
}

mat-label{
    margin-left: 0px;
 }

.text-definition {
    font-weight: bold;
}

.container {
    max-width: 1000px;
}