<div class="container">
    <div class="section">
        <br>
        <mat-card-subtitle class="primary">
            <h2>Mascota</h2>
        </mat-card-subtitle>


        <div class="row primary">
            <div class="column">
                <mat-label class="text-definition">Nombre: </mat-label>
                <mat-label>{{petInformation.petName}}</mat-label>
            </div>
            <div class="column">
                <mat-label class="text-definition">Sexo: </mat-label>
                <mat-label>amasculino</mat-label>
            </div>
        </div>

        <div class="row primary">
            <div class="column">
                <mat-label class="text-definition">Fecha de nacimiento: </mat-label>
                <mat-label>{{petInformation.petBirthdayDate}}</mat-label>
            </div>
            <div class="column">
                <mat-label class="text-definition">Raza: </mat-label>
                <mat-label>{{petInformation.petOfBread}}</mat-label>
            </div>
        </div>

        <div class="row primary">
            <mat-label class="text-definition">Descripcion: </mat-label>
            <mat-label>{{petInformation.petDescription}}</mat-label>
        </div>
        <br>
        <mat-card-subtitle class="primary">
            <h2>Contacto</h2>
        </mat-card-subtitle>

        <div class="row primary">
            <div class="column">
                <mat-label class="text-definition">Nombre: </mat-label>
                <mat-label>{{petInformation.ownerName}}</mat-label>
            </div>
            <div class="column">
                <mat-label class="text-definition">Apellido: </mat-label>
                <mat-label>{{petInformation.ownerSurName}}</mat-label>
            </div>
        </div>


        <div class="row primary">
            <div class="column">
                <mat-label class="text-definition">Telefono: </mat-label>
                <mat-label>{{petInformation.ownerPhoneNumber}}</mat-label>
            </div>
            <div class="column">
                <mat-label class="text-definition">Telefono 2: </mat-label>
                <mat-label>{{petInformation.ownerPhoneNumberOther}}</mat-label>
            </div>
        </div>

        <div class="row primary">
            <div class="column">
                <mat-label class="text-definition">Telefono 3: </mat-label>
                <mat-label>{{petInformation.ownerPhoneNumber}}</mat-label>
            </div>
            <div class="column">
                <mat-label class="text-definition">Mail: </mat-label>
                <mat-label>{{petInformation.ownerEmail}}</mat-label>
            </div>
        </div>
        <div class="row primary">
            <mat-label class="text-definition">Direccion: </mat-label>
            <mat-label class="label-detail">{{petInformation.ownerAddress}}</mat-label>
        </div>
        <br>
        <div class="row primary">
            <mat-label class="text-definition">Observacion: </mat-label>
            <mat-label>{{petInformation.ownerObservation}}</mat-label>
        </div>
    </div>
</div>