<mat-card class="mat-card" style="background-color: white;" (window:resize)="onResize($event)">
    <mat-card-header>
        <mat-card-title>Detalle del Elemento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="section">
            <h3>Informacion de la mascota</h3>
            <mat-grid-list rowHeight="40px" [cols]="breakpoint">
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid">Nombre: {{petInformation.petName}}</div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Fecha de nacimiento: {{petInformation.petBirthdayDate}}
                        </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> descripcion: {{petInformation.petDescription}} </div>
                    </mat-label>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <div class="section">
            <h3 style="background-color: white;">Contacto</h3>
            <mat-grid-list rowHeight="40px" [cols]="breakpoint">
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Nombre: {{petInformation.ownerName}} </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Nro de telefono: {{petInformation.phoneNumber}} </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Nro de telefono 2: {{petInformation.phoneNumberOther}} </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Email: {{petInformation.email}} </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> Red social: {{petInformation.socialNetworksDescription}}
                        </div>
                    </mat-label>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-label>
                        <div class="text-inside-grid"> observacion: {{petInformation.observation}} </div>
                    </mat-label>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

    </mat-card-content>
</mat-card>