.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.my-custom-class {
  width: 100%;
}

form{
  width: 80%;
}

button{
  height: 6vh !important;
  width: 100%;
}