<div class="container">
  <div class="center-form">
    <h2>Generador de QR</h2>
    <form *ngIf="this.myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <mat-form-field appearance="fill" class="my-custom-class">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" id="countQR" name="countQR" formControlName="countQR" required min="0"
          max="100" />

      </mat-form-field>
      <div *ngIf="f.countQR.touched && f.countQR.errors">
        <mat-error *ngIf="f.countQR.errors.min">El campo tiene que ser mayor de
          {{f.countQR.errors.min.requiredLength}} caracteres</mat-error>
        <mat-error *ngIf="f.countQR.errors.max">El campo tiene que ser menor de
          {{f.countQR.errors.max.requiredLength}} caracteres</mat-error>
      </div>

      <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Enviar</button>
    </form>
  </div>
</div>