<mat-card class="mat-card" color="primary" >
    <mat-card-header>
        <mat-card-title  color="primary" style="color: white;">Detalle del Elemento</mat-card-title>
    </mat-card-header>
    <mat-card-content color="primary">
        <form *ngIf="this.myForm" class="login-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <h2 style="color: white;">Mascota</h2>
            <div class="custom-form-field">
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Nombre de la mascota</mat-label>
                    <input matInput id="petName" name="petName"
                        formControlName="petName" type="text" required="required" required>
                </mat-form-field>   
                <mat-form-field color="primary" id="specific-border" class="width-1">

                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" id="petBirthdayDate" name="petBirthdayDate"
                    formControlName="petBirthdayDate"  required="required" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="custom-form-field">
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Mascota descripcion</mat-label>
                    <textarea matInput id="petDescription" name="petDescription"  formControlName="petDescription"  cdkTextareaAutosize  #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3"></textarea>
                </mat-form-field> 
            </div>
            <h2 style="color: white;">Contacto</h2>
            <div class="custom-form-field">
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Nombre del dueño</mat-label>
                    <input matInput id="ownerName" name="ownerName"
                        formControlName="ownerName" type="text" required="required" required>
                </mat-form-field>   
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Mail</mat-label>
                    <input matInput id="email" name="email"
                        formControlName="email" type="text" required="required" required>
                </mat-form-field>                 
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Observacion</mat-label>
                    <input matInput id="observation" name="observation"
                        formControlName="observation" type="text" required="required" required>
                </mat-form-field>
     
            </div>            
            <div class="custom-form-field">
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Numero de contacto</mat-label>
                    <input matInput id="phoneNumber" name="phoneNumber"
                        formControlName="phoneNumber" type="text" required="required" required>
                </mat-form-field>
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Numero de contacto 2</mat-label>
                    <input matInput id="phoneNumberOther" name="phoneNumberOther"
                        formControlName="phoneNumberOther" type="text" required="required" required>
                </mat-form-field>    
                <mat-form-field color="primary" id="specific-border" class="width-1">
                    <mat-label>Red social</mat-label>
                    <input matInput id="socialNetworksDescription" name="socialNetworksDescription"
                        formControlName="socialNetworksDescription" type="text" required="required" required>
                </mat-form-field>
                <div class="button-container">
                    <button name="submit" type="submit" mat-raised-button color="primary"
                        [disabled]="!myForm.valid">Aceptar</button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>