.custom-form-field {
    display: block;
    width: 100%;
    margin: 15px;
}

.button-container {
    margin-top: 20px;
}

.custom-form-field mat-form-field+mat-form-field {
    margin-left: 5px;
}

.label-text {
    color: white;
}