<mat-nav-list>
  <mat-list-item routerLink="#">
    <span>Mascota</span>
  </mat-list-item>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
        Administracion
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="#">
        <span>Generar QR</span>
      </a>
      <a mat-list-item routerLink="#">
        <span>Android</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      Frameworks
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="#">Spring</a>
      <a mat-list-item routerLink="#">Hibernate</a>
      <a mat-list-item routerLink="#">Struts</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>