<div class="div-center" (window:resize)="onResize($event)">


    <mat-card class="mat-card" style="background-color: white;">
        <mat-card-header>
            <mat-card-title>Detalle del Elemento</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="section">
                <h3>Sección 1</h3>
                <mat-grid-list rowHeight="40px" [cols]="breakpoint">
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombres</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <div class="section">
                <h3>Sección 1</h3>
                <mat-grid-list rowHeight="40px" [cols]="breakpoint">
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombres</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-label>Nombre: nombre</mat-label>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

        </mat-card-content>
    </mat-card>

</div>