<mat-card style="background-color: white;width: 1000px;">
    <mat-card-header>
        <mat-card-title>Detalle del Elemento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <mat-label>Label 1:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 1</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 2:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 2</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 3:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 3</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 4:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 4</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 5:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 5</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 6:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 6</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 7:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 7</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Label 8:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-label>Valor 8</mat-label>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>