.section {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: green;
}

.mat-card {
    max-width: 400px;
    width: 90%;
}